.hiring-container {
  background: #fbfafa;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('/hiring-left.png'), url('/hiring-right.png');
  background-size: 100px, 100px;
  background-repeat: no-repeat;
  background-position: center left, center right;

  @include media-breakpoint-up(md) {
    background-size: 150px, 150px;
  }

  @include media-breakpoint-up(lg) {
    background-size: 250px, 250px;
  }

  @include media-breakpoint-up(xl) {
    background-size: 318px, 318px;
  }
}

.hiring {
  max-width: $container;
  width: 100%;
  padding: 75px 16px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  @include media-breakpoint-up(lg) {
    padding: 140px 16px;
  }

  &__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    letter-spacing: -1px;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: 50px;
    }
  }

  &__desc {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
    letter-spacing: -0.24px;
    color: $text-secondary;
    max-width: 250px;
    text-align: center;
    margin-bottom: 0;

    @include media-breakpoint-up(md) {
      font-size: 24px;
      max-width: 443px;
    }
  }

  .btn {
    padding: 6px 20px;
  }
}
